<template>
  <div class="container">
    <h2>Bounties.</h2>
    <p>Hier ziet u een overzicht van al je Bounties.</p>
    <div class="container">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Locatie</th>
          <th>Omschrijving</th>
          <th>voortgang</th>
          <th>opties</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="bounty of playerBounties.bounties">
          <td class="col-md-2">
            ${bounty.location}
          </td>
            <td class="col-md-8">
              ${bounty.description}
          </td>
          <td class="col-md-2">
            ${bounty.progress}
          </td>
          <td class="col-md-2">
            <button type="button" class="btn btn-default btn-sm" click.delegate="changeProgress(bounty)">
              <span class="glyphicon glyphicon-ok"></span> Voltooien/Onvoltooien
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>