<template>
  <div class="container">
    <h2>Quests.</h2>
    <p>Hier ziet u een overzicht van al je quests.</p>
    <div class="container">
    
    <!--<table class="table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>requirement(s)</th>
          <th>voortgang</th>
          <th>opties</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="quest of playerQuests.quests">
          <td class="col-md-2">
            ${quest.description}
          </td>
            <td class="col-md-8" repeat.for="requirement of quest.requirements">
              ${requirement.description}
          </td>
          <td class="col-md-2">
            ${quest.progress}
          </td>
          <td class="col-md-2" repeat.for="requirement of quest.requirements">
            <button type="button" class="btn btn-default btn-sm" click.delegate="completed()">
              <span class="glyphicon glyphicon-ok"></span> Voltooien
            </button>
          </td>
        </tr>
      </tbody>
    </table>-->
  <div class="row" repeat.for="quest of playerQuests.quests">
    <div class="col">
      <b>${quest.description} ${quest.progress}</b>
        <div class="col" repeat.for="requirement of quest.requirements">
          ${requirement.description}
          <b> ${requirement.progress}</b>
          <button type="button" class="btn btn-default btn-sm" click.delegate="changeProgress(requirement)">
            <span class="glyphicon glyphicon-ok"></span> Voltooien/Onvoltooien
          </button>
        </div>
      </div>
    </div>
    </div>
    </div>
</template>