<template>
  <div class="container">
    <h2>Wapens.</h2>
    <p>Hier ziet u een overzicht van al je wapens.</p>
    <div class="container">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Damage</th>
          <th>Minimale level</th>
          <th>opties</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="weapon of weaponsplayer.weapons">
          <td class="col-md-4">
            ${weapon.name} 
          </td>
          <td class="col-md-4">
            ${weapon.damage} 
          </td>
          <td class="col-md-4">
            ${weapon.minLevel}
          </td>
          <td class="col-md-4">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove"></span> Verwijder
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>