<template>
  <h1>
    Alle wapens met Speler ophalen.
  </h1>
  <a route-href="route: Querys" class="btn btn-primary">
    Ga terug
  </a>
  <div class="container">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Speler's Naam</th>
        <th>Wapen's Naam</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="player of players">
        <td class="col-md-6">
          ${player.name}
        </td>
        <td class="col-md-4">
          ${player.weapon}
        </td>
      </tr>
    </tbody>
  </table>
</template>