<template>
  <h1>
    Subquests ophalen van de Main Quest met als ID 1.
  </h1>
  <a route-href="route: Querys" class="btn btn-primary">
    Ga terug
  </a>
  <div class="container">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Naam</th>
        <th>MainQuestNumber</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="quest of quests">
        <td class="col-md-6">
          ${quest.description}
        </td>
        <td class="col-md-4">
          ${quest.mainQuestID}
        </td>
      </tr>
    </tbody>
  </table>
</template>