<template>
  <h1>
  Voor FUN2 moest ik zelf geschreven Query's implementeren op mijn applicatie.
  Hierbij dus verschillende opties om de Query's uit te voeren.
  </h1>
  <a route-href="route: BestWeapons" class="btn btn-primary">
    Sterke wapens
  </a>
  <a route-href="route: AvgDamage" class="btn btn-success">
    Spelers met lager dan de gemiddelde damage
  </a>
  <a route-href="route: MainQuest" class="btn btn-info">
    SubQuesten van een bepaalde main Quest
  </a>
  <a route-href="route: AllWeapons" class="btn btn-warning">
     Alle wapens met speler ophalen
   </a>
   <a route-href="route: TotalWeapons" class="btn btn-danger">
     Aantal wapens van spelers ophalen
   </a>
</template>